// Define variables for your color scheme

// For example:
$red: #FF6F6F;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4FFF95;

$dark: #0E0000;
$light: #FAFAFF;
$purple: #706DEA;
$light-purple: #B9B8FF;
