.pill {
    padding: 3px 8px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 14px;
}

.pill.default {
	background: $light;
}

.pill.green {
	background: $green;
}

.pill.red {
	background: $red;
}